<div class="row justify-content-center my-2">
    <div class="col-6 bg-secondary py-2 border border-secondary">
        <div class="row">
            <div class="col-12">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Username</label>
                  </div>
            </div>
            <div class="col-12">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Password</label>
                  </div>
            </div>
            <div class="col-12">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Confirm Password</label>
                  </div>
            </div>
            <div class="col-8">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                  </div>
            </div>
            <div class="col-4">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Mobile number</label>
                  </div>
            </div>
            <div class="col-6">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">First Name</label>
                  </div>
            </div>
            <div class="col-6">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Last Name</label>
                  </div>
            </div>
            <div class="col-12 mb-2">
                <div class="form-floating">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Address</label>
                  </div>
            </div>
            <div class="col-6 d-flex align-items-center">
                <span class="text-info">* All fields are required</span>
            </div>
            <div class="col-6 text-end">
                <button class="btn btn-outline-primary me-2">Confirm</button>
                <button class="btn btn-outline-danger">Cancel</button>
            </div>
        </div>
    </div>
</div>