<div class="d-flex flex-column h-100">
    <div class="row my-2">
        <div class="col-12">
            Manage Users <i class="bi bi-people-fill"></i>
        </div>
    </div>
    <div class="row flex-fill">
        <div class="col-12">
            <div class="position-relative h-100 w-100">
                @if((userListState$ | async); as userListState) {
                    <app-grid [ngClass]="{'opacity-25': userListState.isLoading}"[rowData]="userListState.userList" [colData]="colData" (gridButtonClicked)="gridButtonClicked($event)"></app-grid>
                    @if(userListState.isLoading) {
                        <app-loader></app-loader>
                    }
                }    
            </div>
        </div>
    </div>
</div>


<ng-template #userDetailTemplate let-modal>
    <app-user-detail [userDetails]="userEdit" (closeModal)="modal.close()"></app-user-detail>
</ng-template>