<div class="d-flex flex-column filters-container h-100">
    <div class="row my-2">
        <div class="col-12">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" aria-label="Search"
                    aria-describedby="button-addon2">
                <button class="btn btn-primary" type="button" id="button-addon2"><i class="bi bi-search"></i></button>
            </div>
        </div>
    </div>
    <div class="row mt-2 overflow-y-auto flex-fill">
            @if(filterItems().length > 0) {
            <div ngbAccordion #accordion="ngbAccordion" class="my-2">
            @for(filterGroup of filterItems(); track filterGroup.group) {
                <div [ngbAccordionItem]="filterGroup.group">
                    <h2 ngbAccordionHeader>
                        <button ngbAccordionButton>{{ filterGroup.group | titlecase }}</button>
                    </h2>
                    <div ngbAccordionCollapse>
                        <div ngbAccordionBody>
                            <ng-template>
                                @if(filterGroup.filterItems) {
                                    @for(filterItem of filterGroup.filterItems; track filterItem.label) {
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="filterItem.label" [id]="filterGroup.group + filterItem.label"
                                            checked="filterItem.value">
                                        <label class="form-check-label" [for]="filterGroup.group + filterItem.label">
                                            {{ filterItem.label }}
                                        </label>
                                    </div>
                                    }
                                }
                            </ng-template>
                        </div>
                    </div>
                </div>
            }
            </div>
            } @else {
            <div class="position-relative w-100">
                <app-loader [placeholder]="true"></app-loader>
            </div>
            }
    </div>
</div>