<div class="container mt-3">
    <div class="row">
        <div class="col-8 ps-0">
            <div class="w-100 product-image bg-dark">
                Product image
            </div>
        </div>
        <div class="col-4 border border-secondary">
            <div class="row d-flex flex-column h-100 py-3">
                <div class="col-12">
                    <h1>{{ instrument.name }}</h1>
                </div>
                <div class="col-12">
                    <h3>{{ instrument.price | currency:'PHP':'symbol':'1.0-2' }}</h3>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            Quantity: 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <app-counter-input [maxValue]="instrument.stocks" [(ngModel)]="quantity"></app-counter-input>
                        </div>
                    </div>
                </div>
                <div class="flex-fill position-relative">
                    @if(instrument.stocks > 0) {
                        <div class="detail-buttons mt-2">
                            <button class="btn btn-outline-warning me-2 mb-2" (click)="addToCart()">{{ itemIsInCart ? 'Update Cart' : 'Add to Cart' }} <i class="ms-2" [ngClass]="itemIsInCart ? 'bi bi-cart-check' : 'bi bi-cart-plus'"></i></button>
                            <button class="btn btn-outline-primary mb-2">Buy Now</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row description-row my-3">
        <div class="col-12 border border-secondary p-2">
            <div class="p-3">
                {{ instrument.detail }}
            </div>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-6 border-secondary ">
            <div class="p-3">
                <div>
                    <h1>Specifications</h1>
                </div>
                <div class="row border-bottom">
                    <div class="col-6">Spec label</div>
                    <div class="col-6">Spec Value</div>
                </div>
                <div class="row border-bottom">
                    <div class="col-6">Spec label</div>
                    <div class="col-6">Spec Value</div>
                </div>
                <div class="row border-bottom">
                    <div class="col-6">Spec label</div>
                    <div class="col-6">Spec Value</div>
                </div>
                <div class="row border-bottom">
                    <div class="col-6">Spec label</div>
                    <div class="col-6">Spec Value</div>
                </div>
                <div class="row border-bottom">
                    <div class="col-6">Spec label</div>
                    <div class="col-6">Spec Value</div>
                </div>
                <div class="row border-bottom">
                    <div class="col-6">Spec label</div>
                    <div class="col-6">Spec Value</div>
                </div>
            </div>
        </div>
        <div class="col-6 border-secondary border-left-0">
            <div class="p-3 text-center">
                <div>
                    <h1>Reviews</h1>
                </div>
                <div class="row">
                    <div class="col-12">
                        No Reviews Yet.
                    </div>
                    <div class="col-12 mt-2">
                        <button class="btn btn-outline-info">Add A Review</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>