<div class="container mt-3">
    <div class="row">
        <div class="col-8 ps-0">
            <div class="w-100 product-image bg-dark">
                Product image
            </div>
        </div>
        <div class="col-4 border border-primary">
            <div class="row d-flex flex-column h-100 py-3">
                <div class="col-12">
                    <h1>YAMAHA GUITAR 1 XLSS MODEL P1923210SADA</h1>
                </div>
                <div class="col-12">
                    <h3>$ 15,000</h3>
                </div>
                <div class="col-12">
                    Quantity: 
                    <select name="" id="">
                        <option value="">1</option>
                        <option value="">2</option>
                    </select>
                </div>
                <div class="flex-fill position-relative">
                    <div class="detail-buttons">
                        <button class="btn btn-outline-warning me-2">Add to cart</button>
                    <button class="btn btn-outline-primary">Buy Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row description-row my-3">
        <div class="col-12 border border-dark p-2">
            <div class="p-3">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam dolorum unde suscipit sint similique voluptatibus, ea maiores praesentium neque fuga quam, magni cumque iure. Laboriosam perspiciatis ullam quas ea reprehenderit.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio amet, nemo ipsam voluptates, eius labore consectetur excepturi asperiores, blanditiis officiis corrupti animi. Perspiciatis exercitationem amet ut obcaecati pariatur cum. Cumque.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente aliquid quas, ab neque porro pariatur magni laudantium repudiandae rem officia ipsa quibusdam iure voluptas placeat dicta facilis quasi sed sint?
            </div>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-6 border border-dark ">
            <div class="p-3">
                <div>
                    <h1>Specifications</h1>
                </div>
                <div class="row border-bottom">
                    <div class="col-6">Spec label</div>
                    <div class="col-6">Spec Value</div>
                </div>
                <div class="row border-bottom">
                    <div class="col-6">Spec label</div>
                    <div class="col-6">Spec Value</div>
                </div>
                <div class="row border-bottom">
                    <div class="col-6">Spec label</div>
                    <div class="col-6">Spec Value</div>
                </div>
                <div class="row border-bottom">
                    <div class="col-6">Spec label</div>
                    <div class="col-6">Spec Value</div>
                </div>
                <div class="row border-bottom">
                    <div class="col-6">Spec label</div>
                    <div class="col-6">Spec Value</div>
                </div>
                <div class="row border-bottom">
                    <div class="col-6">Spec label</div>
                    <div class="col-6">Spec Value</div>
                </div>
            </div>
        </div>
        <div class="col-6 border border-dark border-left-0">
            <div class="p-3 text-center">
                <div>
                    <h1>Reviews</h1>
                </div>
                <div class="row">
                    <div class="col-12">
                        No Reviews Yet.
                    </div>
                    <div class="col-12 mt-2">
                        <button class="btn btn-outline-info">Add A Review</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>