.list-container {
    max-height: calc(100vh - 8.9rem);
    overflow-y: auto;
}

.img-placeholder {
    min-width: 200px;
    min-height: 150px;
    &>.placeholder {
        min-height: 150px;
    }
}

.add-header {
    font-size: 0.7rem;
}

.add-icon {
    font-size: 4rem;;
}
