<div class="row list-container">
    @if((loggedInUser$ | async)?.role === 'Admin') {
        <div class="col-4 mt-2 " (click)="modalService.open(createInstrument, {size: 'lg'})">
            <div class="card h-100 w-100 d-flex align-items-center justify-content-center">
                <div class="text-center">
                    <button class="btn btn-link"><i class="bi bi-plus-square-dotted add-icon"></i></button>
                    <h5 class="my-0 add-header">Add Instrument</h5>
                </div>
            </div>
        </div>
    }
    @for(instrument of instrumentList; track instrument.id) {
    <div class="col-4 mt-2 instrument-item-col">
        <app-instrument-item [instrument]="instrument" (deleteItem)="deleteItem($event)" (openEdit)="openEdit(instrument.id, createInstrument)"></app-instrument-item>
    </div>
    }
    <!-- Placeholder -->
     <!-- @for(item of [1,2,3,4,5,6,7,8]; track item) {
        <div class="col-3 my-2">
            <div class="card">
                <div class="img-placeholder placeholder-glow">
                    <div class="placeholder col-12"></div>
                </div>
                <div class="card-body">
                    <h5 class="card-title placeholder-glow">
                        <span class="placeholder col-8"></span>
                    </h5>
                    <div class="card-text  placeholder-glow">
                        <span class="placeholder col-6"></span>
                    </div>
                </div>
            </div>
        </div>
     } -->
</div>
<ng-template #createInstrument let-modal>
    <app-create-instrument [editInstrument]="selectedInstrumentId" (closeModal)="modal.close()"></app-create-instrument>
</ng-template>