.order-detail-container {
    height: calc(100vh - 10rem);
}


.details-text {
    max-height: 8rem;
}

.product-image {
    height: 6rem;
    max-height: 6rem;
    width: 6rem;
    max-width: 6rem;

    img {
        object-fit: contain;
        height: 100%;
        width: 100%;
    }
}

.cart-items-container {
    height: calc(100vh - 15rem);
    overflow-y: auto;
}