<div class="order-detail d-flex flex-column ">
    <div class="border border-top">
        <div class="d-flex align-items-center justify-content-between ps-2 py-1">
            <h3>Order Details</h3>
            <button class="btn" (click)="closeModal.emit()"><i class="bi bi-x-lg"></i></button>
        </div>
    </div>
    <div class="flex-fill">
        <div class="container my-2">
            @for(item of orderItems; track item.id) {
                <div class="row row mx-2 mb-2 border">
                    <div class="col-4 py-2">
                        <div class="product-image">
                            Image here
                        </div>
                    </div>
                    <div class="col-8 py-2">
                        <div class="row">
                            <div class="col-12"><span class="fw-bold me-2">Name:</span> {{ item.name }}</div>
                            <div class="col-12"><span class="fw-bold me-2">Price:</span> {{ item.price | currency:'PHP':'symbol':'1.0-2' }}</div>
                            <div class="col-12"><span class="fw-bold me-2">Quantity:</span> {{ item.quantity }}</div>
                            <div class="col-12"><span class="fw-bold me-2">Item Total:</span> {{ (item.quantity * item.price) | currency:'PHP':'symbol':'1.0-2' }}</div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="border border-top d-flex justify-content-end ">
        <div class="my-2 mx-3">
            <span class="fw-bold me-2">Total Price:</span> {{ totalPrice | currency:'PHP':'symbol':'1.0-2' }}
        </div>
    </div>
</div>