.order-detail-container {
    height: calc(100vh - 10rem);
}


.details-text {
    max-height: 8rem;
}

.product-image {
    height: 6rem;
    max-height: 6rem;
    background: black;
    width: 6rem;
    max-width: 6rem;
}