<div class="d-flex flex-column" [ngStyle]="{'height': containerHeight()}">
    <div class="row">
        @for(wizardItem of wizardItems(); let i = $index; track wizardItem.icon) {
            <div class="d-flex align-items-center steps-col" [ngClass]="colClass">
                @if(i !== 0) {
                    <hr class="text-primary flex-fill">
                }
                <div
                    class="mt-2 steps rounded-circle border d-flex justify-content-center align-items-center" [ngClass]="getColClass(i)" [ngbTooltip]="wizardItem.tooltip" container="body">
                    <i [ngClass]="wizardItem.icon + getIconClass(i) "></i>
                </div>
                @if(i !== (wizardItems().length - 1)) {
                    <hr class="text-primary flex-fill">
                }
            </div>
        }
    </div>
    
    <ng-content class="flex-fill"></ng-content>
</div>