.product-image {
    height: 6rem;
    max-height: 6rem;
    background: black;
    width: 6rem;
    max-width: 6rem;
}

.error-icon {
    position: absolute;
    right: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}

