<form [formGroup]="instrumentForm">
    <div class="create-instrument-container d-flex flex-column ">
        <div class="border border-top">
            <div class="d-flex align-items-center justify-content-between ps-2 py-1">
                <h3>Create Instrument</h3>
                <button class="btn" (click)="closeModal.emit(false)"><i class="bi bi-x-lg"></i></button>
            </div>
        </div>
        <div class="flex-fill">
            <app-wizard [wizardItems]="wizardItems" [activeIndex]="activeIndex">
                <div class="overflow-y-auto w-100">
                    <div class="w-100" ngbNav #nav="ngbNav" [(activeId)]="activeIndex">
                        <div [ngbNavItem]="0">
                            <ng-template ngbNavContent>
                                <div class="row mt-3 w-100">
                                    <div class="col-10">
                                        <div class="ps-3">
                                            <label for="name">Instrument Name</label>
                                            <input type="text" class="form-control" id="name"
                                                placeholder="Instrument Name" formControlName="name">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-2 w-100">
                                    <div class="col-4">
                                        <div class="ps-3">
                                            <label for="price">Price</label>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text">$</span>
                                                <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)" formControlName="price">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <label for="type" class="form-label my-0">Instrument Classification</label>
                                        <select class="form-select border border-secondary" id="type" formControlName="type">
                                            <option value="Guitar">Guitar</option>
                                            <option value="Keyboard">Keyboard</option>
                                            <option value="Cello">Cello</option>
                                            <option value="Clarinet">Clarinet</option>
                                            <option value="Flute">Flute</option>
                                            <option value="French Horn">French Horn</option>
                                        </select>
                                    </div>
                                    <div class="col-4">
                                        <label for="stocks">Stocks Available</label>
                                        <input type="number" class="form-control w-50" id="stocks" placeholder="0"
                                            formControlName="stocks">
                                    </div>
                                </div>
                            </ng-template>
                        </div>
                        <div [ngbNavItem]="1">
                            <ng-template ngbNavContent>
                                <div class="row w-100">
                                    <div class="col-12">
                                        <div class="px-3">
                                            <label for="formFile" class="form-label mt-2">Upload image</label>
                                            <input class="form-control" type="file" id="formFile" (change)="onFileSelected($event)">
                                        </div>
                                    </div>
                                </div>
                                <div class="row w-100">
                                    <div class="col-12">
                                        <div class="px-3">
                                            <label for="detail" class="form-label mt-2">Instrument Details</label>
                                            <textarea class="form-control details-text" id="exampleTextarea" rows="3" formControlName="detail"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </div>
                        <div [ngbNavItem]="2">
                            <ng-template ngbNavContent>
                                <div class="row w-100">
                                    <div class="col-12">
                                        <div class="m-4 d-flex align-items-center justify-content-center">
                                            <h1>This is still under construction.<br><br>Proceed with Saving</h1>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                    <div [ngbNavOutlet]="nav"></div>
                </div>
            </app-wizard>
    
        </div>
        <div class="border border-top d-flex justify-content-end ">
            <div class="p-2">
                @if(activeIndex !== 0) {
                <button class="btn btn-outline-primary me-2" (click)="moveStep()"><i class="bi bi-chevron-left me-2"></i>Previous</button>
                }
                @if(activeIndex !== wizardItems.length -1) {
                <button class="btn btn-outline-primary" (click)="moveStep(1)">Next<i class="ms-2 bi bi-chevron-right"></i></button>
                } @else {
                <button class="btn-outline-warning btn"  (click)="formSubmit()">Save <i class="ms-2 bi bi-floppy-fill"></i></button>
                }
            </div>
        </div>
    </div>
</form>
@if(showLoader) {
    <app-loader [darken]="true"></app-loader>
}