<div class="card">
    <img class="card-img-top" [src]="imgSrc" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Guitar Name</h5>
        <div class="card-text">
            $ 15,000
        </div>
        <div class="action-buttons">
            <button type="button" class="btn btn-primary py-1 px-2 me-1"><i class="bi bi-eye-fill"></i></button>
            <button type="button" class="btn btn-warning py-1 px-2"><i class="bi bi-cart-plus-fill"></i></button>
        </div>
    </div>
</div>



