@if(instrument()) {
    <div class="card h-100" (click)="openDetails(instrument().id)">
        <img class="card-img-top" [src]="imgSrc" alt="Card image cap">
        <div class="card-body d-flex flex-column">
            <h5 class="card-title" [ngbTooltip]="instrument().name" [openDelay]="300" >{{ instrument().name }}</h5>
            <div class="card-text">
                {{ instrument().price | currency }}
            </div>
            <div class="action-buttons flex-fill">
                @if((user$ | async).role !== 'Admin') {
                    <button type="button" class="btn btn-outline-warning py-1 px-2" (click)="addtoCart($event)">Add to Cart<i class="ms-2 bi bi-cart-plus"></i></button>
                } @else {
                    <button class="btn btn-outline-warning me-2 p-2" (click)="editInstrument()">Edit<i class="ms-2 bi bi-pencil-fill"></i></button>
                    <button class="btn btn-outline-danger p-2" (click)="deleteInstrument()">Delete<i class="ms-2 bi bi-trash-fill"></i></button>
                }
            </div>
        </div>
    </div>
}



