/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootswatch/dist/lux/_variables";
@import "bootswatch/dist/lux/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";
// @import "bootswatch/dist/lux/bootstrap.css";
// @import 'bootstrap/scss/bootstrap';

.form-control:focus, .accordion-button:focus {
    box-shadow: 0 0 0 0.1rem rgba(26, 26, 26, .25) !important;
}

.form-control {
    border: 1px solid #ced4da;
}

.accordion-button:not(.collapsed)  {
    background: white;
    font-weight: 700;
}

.card:hover {
    transform: scale(1.05);
    background: lighten(yellow,45%);
    border-width: 3px;
    transition: transform 1s;
    cursor: pointer;
}

.btn-outline-warning:hover {
    color:white !important;
}